.button{
    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

#shiny-orange {
    -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-padding: 10 20 10 20;
}

#shiny-orange:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

#shiny-orange:pressed {
	 -fx-background-color: gray;
}
	
#fancytext {
    -fx-font: 280px Arial;
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 10%, red 50%);
    -fx-stroke: white;
    -fx-stroke-width: 8;
    
}



#calculationtext {
    -fx-font: 580px Arial;
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 10%, red 50%);
    -fx-stroke: white;
    -fx-stroke-width: 18;
    
}
